/* Global App Styles that aren't handled by Tailwind */
#root {
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
